process {
    withName:runSage {
        container = 'ghcr.io/lazear/sage:v0.13.1'
    }
    withName:runThermoRawFileParser {
        container = 'quay.io/biocontainers/thermorawfileparser:1.4.2--ha8f3691_0'
    }
    withName:runTDF2MZML{
        container = 'mfreitas/tdf2mzml:latest'
    }
    withName:ms2rescore {
        container = 'quay.io/biocontainers/ms2rescore:3.0.0b1--pyhdfd78af_1'
    }
    withName:combine_sageTSV {
        container = 'quay.io/biocontainers/ms2rescore:3.0.0b1--pyhdfd78af_1'
    }
    withName:organism_count_mass_tolerance {
        container = 'quay.io/biocontainers/ms2rescore:3.0.0b1--pyhdfd78af_1'
    }
    withName:runFlashLFQ{
        container = 'smithchemwisc/flashlfq:latest'
    }
}

docker {
    enabled = true
}
