# path to output .raw files after Decompress
params.output_path_decompress = "./data"

# path to output of all processes after Sage
params.output_path = "./results"

# Decompress
params.compressed_file_location = "/public/conode55_pride/PRIDE_DATA/PXD032235/RAW/20210120_HM_HEK_IAA_300minGr_R1.raw.xz"
params.run_decompress = false

# TRFP
params.raw_file_location = "data/**.raw"
params.run_trfp = false

params.tdf_folders_location = "data/*.d"
params.run_tdf2mzml = false

# SAGE
params.fasta_files_location = "data/**.fasta"
params.sage_config_files_location = "data/sage/*.json"
params.mzml_files_location = "data/*.mzML"
params.sage_max_forks = 2
params.splitFasta_size = 5.mb

# ms2rescore
params.ms2rescore_config_files_location = "data/ms2rescore/*.json"
params.run_ms2rescore = false

# FlashLFQ
params.run_FlashLFQ = false

# organism_count_mass_tolerance
params.run_organism_count_mass_tolerance = false
